{% load static %}
<footer id="tt-footer">
	<div class="tt-footer-layout">
		<div class="container">
			<div class="row justify-content-center">
				<div id="tt-footer-menu">

				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col col-auto">
					<a class="tt-logo" href="index.html">
						<img class="tt-logo-dark svg-img" src="images/logo.svg" alt="">
					</a>
				</div>
			</div>
			<div class="tt-row-custom">
				<div class="tt-col">
					<ul class="tt-list-info">
						<li>
							<i class="icon-149984"></i>
							3261 Anmoore Road, Brooklyn, NY 11230
						</li>
						<li>
							<a href="#">
								<i class="icon-15874"></i>
								+01 123 456 78
							</a>
						</li>
						<li>
							<a href="mailto:info@youremal.com">
								<i class="icon-mail"></i>
								info@youremal.com
							</a>
						</li>
					</ul>
				</div>
				<div class="tt-col">
					<div class="tt-box-info">
						<div class="tt-item">
							<h6 class="tt-ttile"><i class="icon-icon"></i>Sales Department</h6>
							<ul>
								<li>Mon-Sat : 8:00am - 5:00pm</li>
								<li>Sunday is closed</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="tt-col">
					<div class="tt-box-info">
						<div class="tt-item">
							<h6 class="tt-ttile"><i class="icon-icon"></i>Service Department</h6>
							<ul>
								<li>Mon-Sat : 8:00am - 5:00pm</li>
								<li>Sunday is closed</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="tt-col">
					<div class="tt-box-info">
						<div class="tt-item">
							<h6 class="tt-ttile"><i class="icon-mail1"></i>NEWSLETTER</h6>
							<form id="newsletterform" method="post" novalidate="novalidate" action="#">
								<div class="form-group">
									<input type="text" name="email" class="form-control" placeholder="enter your email to subscribe">
								</div>
								<button type="submit" class="tt-btn">SUBSCRIBE</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col col-auto">
					<ul class="tt-social-icon">
						<li><a href="https://www.facebook.com/" target="_blank" class="icon-226234"></a></li>
						<li><a href="https://twitter.com"  target="_blank" class="icon-8800"></a></li>
						<li><a href="https://www.google.com/" target="_blank" class="icon-733613"></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="tt-footer-copyright">
		<div class="container">
			<span>&copy; Copyright 2018 Car Leader</span> <a href="#">PRIVACY POLICY</a>
		</div>
	</div>
</footer>