{% load static %}
<!-- panel-info -->
<div class="tt-panel-info">
    <div class="container">
        <div class="row no-gutters align-items-center">
            <div class="col-auto mr-auto">
                <ul class="tt-box-info">
                    <li><i class="icon-149984"></i>{{ home.address }}</li>
                    <li><a href="#"><i class="icon-15874"></i><strong>Call Us:</strong>{{ home.tel }}</a></li>
                    <li><i class="icon-icon"></i>{{ home.work_time }}</li>
                </ul>
            </div>
            <div class="col-auto">
                <div class="tt-language">
                    <div class="tt-skinSelect-02">
                        <select class="tt-select">
                            <option value="ENG">ENG</option>
                            <option value="RUS">RUS</option>
                        </select>
                    </div>
                </div>
                <div class="tt-dropdown-obj tt-searcher">
                    <a href="#" class="tt-dropdown-toggle">
                        <i class="icon-musica-searcher"></i>
                    </a>
                    <div class="tt-dropdown-menu">
                        <div class="container">
                            <form action="{% url 'car_search' %}">
                                <div class="tt-row-search">
                                    <input type="text" name = "key" class="tt-search-input" placeholder="Искать...">
                                    <button class="tt-btn-search" type="submit"></button>
                                    <button class="tt-btn-close icon-g-80"></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="tt-dropdown-obj tt-account">
                    <a href="#" class="tt-dropdown-toggle">
                        <i class="icon-user"></i>
                    </a>
                    <div class="tt-dropdown-menu">
                        <div class="tt-row-close">
                            <a href="#" class="tt-btn-close icon-close"></a>
                        </div>
                        <ul>
                            <li><a href="#">Account</a></li>
                            <li><a href="#">Check Out</a></li>
                            <li><a href="#">Sign In</a></li>
                            <li><a href="#">Sign Out</a></li>
                            <li><a href="#">Register</a></li>
                        </ul>
                    </div>
                </div>
                <div class="tt-dropdown-obj tt-compare compare-toggle">
                    <a href="#" class="tt-dropdown-toggle">
                        <i class="icon-compare"></i>
                    </a>
                </div>
                <div class="tt-dropdown-obj tt-cart">
                    <a href="#" class="tt-dropdown-toggle">
                        <i class="icon-cart"></i>
                    </a>
                    <div class="tt-dropdown-menu">
                        <h6 class="tt-dropdown-title">
                            <a href="#" class="tt-btn-close icon-close"></a>
                            Products in Cart
                        </h6>
                        <div class="tt-search-results">
                            <ul>
                                <li>
                                    <a href="inventory-item.html">
                                        <div class="thumbnail"><img src="{% static 'images/product/product_img_05.jpg' %}" alt=""></div>
                                        <div class="tt-description">
                                            <div class="tt-title">Bosch 3330 Premium FILTECH Oil </div>
                                            <div class="tt-price">
                                                $5.23
                                            </div>
                                        </div>
                                    </a>
                                    <span class="tt-close-item icon-close"></span>
                                </li>
                                <li>
                                    <a href="inventory-item.html">
                                        <div class="thumbnail"><img src="{% static 'images/product/product_img_08.jpg' %}" alt=""></div>
                                        <div class="tt-description">
                                            <div class="tt-title">Autolite XP5325 Iridium XP Spark Plug, Pack of 4</div>
                                            <div class="tt-price">
                                                $24.61
                                            </div>
                                        </div>
                                    </a>
                                    <span class="tt-close-item icon-close"></span>
                                </li>
                            </ul>
                        </div>
                        <div class="tt-search-bottom">
                            <div class="price-total">
                                <label>Total:</label>
                                <div class="tt-price">$29.84</div>
                            </div>
                            <a href="#" class="btn">CHECKOUT</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- header-holder -->
<div class="header-holder">
    <div class="container">
        <div class="row">
            <!--logo-->
            <div class="col-logo">
                <a class="tt-logo" href="{% url 'index' %}">
                    <img class="tt-logo-light svg-img" src="{{ home.logo.url }}" alt="">
                    <img class="tt-logo-dark svg-img" src="{{ home.logo.url }}" alt="">
                </a>
            </div>
            <!--desctope-menu-->
            <div class="col-menu col-auto mr-auto ">
                <div class="tt-desctop-menu" id="tt-desctop-menu">
                    <nav>
                        <ul>
                            <li>
                                <a href="index.html">HOME</a>
                                <ul>
                                    <li><a href="index-moto.html">Moto Leader</a></li>
                                    <li><a href="index-yacht.html">Yacht Leader</a></li>
                                </ul>
                            </li>
                            <li class="is-subMenu">
                                <a href="about-us.html">ABOUT US</a>
                                <ul>
                                    <li><a href="about-us-testimonials.html">TESTIMONIALS</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="services.html">SERVICES</a>
                                <ul>
                                    <li><a href="services-item.html">Pre-Sale Preparation</a></li>
                                </ul>
                            </li>
                            <li class="is-subMenu">
                                <a href="inventory.html">INVENTORY</a>
                                <ul>
                                    <li><a href="inventory.html">With Left Sidebar</a></li>
                                    <li><a href="inventory-no-sidebar.html">No sidebar</a></li>
                                    <li><a href="inventory-item.html">Single product</a></li>
                                    <li><a href="inventory-item02.html">Single product 02</a></li>
                                </ul>
                            </li>
                            <li class="is-subMenu">
                                <a href="blog-right-column.html">BLOG</a>
                                <ul>
                                    <li><a href="blog-right-column.html">With Right Sidebar</a></li>
                                    <li><a href="blog-masonry-col-3.html">Three Colums</a></li>
                                    <li><a href="blog-single-post.html">Single Post</a></li>
                                </ul>
                            </li>
                            <li><a href="shop.html">SHOP</a></li>
                            <li><a href="faq.html">FAQ</a></li>
                            <li><a href="contact.html">CONTACTS</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!--btn toggle modal-->
            <div class="col-btn-toggle-modal col-auto">
                <a class="btn btn-toggle-modal" href="#"  data-toggle="modal" data-target="#modalAddYourItem"><i class="icon-addcar"></i><span class="	tt-text">ADD YOUR ITEM</span>
                </a>
            </div>
            <!--btn toggle mobile menu-->
            <div class="col-menu-toggle col-auto">
                <a href="#" class="tt-menu-toggle icon-menu"></a>
            </div>
        </div>
    </div>
</div>
<!-- stuck nav -->