<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>CarLeader - Responsive HTML5 Template</title>
	<meta name="keywords" content="HTML5 Template">
	<meta name="description" content="CarLeader - Responsive HTML5 Template">
	<link rel="shortcut icon" href="favicon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="css/style.css">
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700" rel="stylesheet">
</head>
<body>
<div class="tt-colorswatch">
	<div class="tt-colorswatch-options">
		<a href="#" class="colorswatch1 active js-swatch-color"></a>
		<a href="#" class="colorswatch2 js-swatch-color" data-color="1"></a>
		<a href="#" class="colorswatch3 js-swatch-color" data-color="2"></a>
		<a href="#" class="colorswatch4 js-swatch-color" data-color="3"></a>
		<a href="#" class="colorswatch5 js-swatch-color" data-color="4"></a>
		<a href="#" class="colorswatch6 js-swatch-color" data-color="5"></a>
	</div>
	<div class="tt-colorswatch-btn js-colorswatch">
		<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				 width="347.523px" height="347.523px" viewBox="0 0 347.523 347.523" style="enable-background:new 0 0 347.523 347.523;"
				 xml:space="preserve">
			<g>
				<g>
					<path d="M108.674,196.125c-2.857-0.402-5.777-0.592-8.746-0.534c-14.267,0.278-36.342,6.092-60.493,32.207
						c-19.171,20.729-19.954,42.635-20.644,61.961c-0.66,18.474-1.181,33.065-16.507,43.727c-1.506,1.049-2.318,2.837-2.113,4.661
						c0.128,1.147,0.645,2.191,1.434,2.98c0.466,0.466,1.026,0.843,1.658,1.099c28.523,11.553,77.316,5.895,117.044-33.833
						c18.043-18.044,28.812-37.145,31.14-55.233c0.607-4.719,0.618-9.323,0.091-13.763L108.674,196.125z M100.915,229.382
						c-1.553,2.174-3.859,3.612-6.494,4.052c-19.209,3.202-25.884,15.953-26.159,16.494c-1.627,3.387-5.167,5.611-8.989,5.611
						c-0.337,0-0.676-0.017-1.015-0.052c-1.149-0.117-2.264-0.432-3.313-0.936c-4.97-2.391-7.069-8.376-4.681-13.347
						c0.442-0.918,11.153-22.546,40.869-27.5c0.546-0.09,1.1-0.136,1.647-0.136c4.908,0,9.055,3.516,9.861,8.357
						C103.08,224.559,102.467,227.207,100.915,229.382z"/>
					<path d="M340.587,6.796c-8.615-8.614-22.425-9.1-31.624-1.112c-5.782,5.021-141.818,123.166-160.166,141.513
						c-9.175,9.175-20.946,24.898-31.124,39.428l42.864,43.271c14.546-10.18,30.345-22.003,39.65-31.308
						C218.749,180.024,336.69,44.193,341.703,38.42C349.688,29.22,349.201,15.41,340.587,6.796z"/>
				</g>
			</g>
			<g></g>
			<g></g>
			<g></g>
			<g></g>
			<g></g>
			<g></g>
			<g></g>
			<g></g>
			<g></g>
			<g></g>
			<g></g>
			<g></g>
			<g></g>
			<g></g>
			<g></g>
			</svg>
	</div>
</div>
<!-- tt-mobile menu -->
<nav class="panel-menu" id="mobile-menu">
    <ul>

	</ul>
    <div class="mm-navbtn-names">
        <div class="mm-closebtn">Close</div>
        <div class="mm-backbtn">Back</div>
    </div>
</nav>
<header id="tt-header" class="tt-header-01">
	<!-- quickLinks -->
<div class="tt-quickLinks-popup">
	</div>
	<div class="tt-mobile-quickLinks">
		<div class="container-fluid">
			<div class="row no-gutters">
				<div class="col">
					<a class="btn-toggle" href="#"><i class="icon-149984"></i></a>
					<div class="quickLinks-layout">
						<div class="quickLinks-map">
							<address>
								<i class="icon-149984"></i>3261 Anmoore Road, Brooklyn, NY 11230
							</address>
							<div id="googleMapHeader" class="google-map"></div>
						</div>
					</div>
				</div>
				<div class="col">
					<a class="btn-toggle" href="#"><i class="icon-15874"></i></a>
					<div class="quickLinks-layout">
						<div class="quickLinks-address">
							<h6 class="tt-title">Call Us:</h6>
							<ul>
								<li>
									<a href="#"><i class="icon-15874"></i> +01 123 456 78</a>
								</li>
								<li>
									<i class="icon-icon"></i> 9:00 AM – 8:00 PM
								</li>
								<li>
									<a href="mailto:info@youremal.com"><i class="icon-mail"></i> info@youremal.com</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col">
					<a data-toggle="modal" data-target="#modalAddYourItem" class="btn-toggle no-popup" href="#"><i class="icon-addcar"></i></a>
				</div>
				<div class="col tt-account">
					<a class="btn-toggle is-popup tt-account" href="#">
						<i class="icon-user"></i>
					</a>
					<div class="tt-dropdown-menu">
						<div class="tt-row-close">
							<a href="#" class="tt-btn-close icon-close"></a>
						</div>
						<ul>
						    <li><a href="#">Account</a></li>
						    <li><a href="#">Check Out</a></li>
						    <li><a href="#">Sign In</a></li>
						    <li><a href="#">Sign Out</a></li>
						    <li><a href="#">Register</a></li>
						</ul>
					</div>
				</div>
				<div class="col tt-searcher">
					<a class="btn-toggle is-popup tt-searcher" href="#">
						<i class="icon-musica-searcher"></i>
					</a>
					<div class="tt-dropdown-menu">
						<div class="container">
							<form>
								<div class="tt-row-search">
									<input type="text" class="tt-search-input" placeholder="Type your search request...">
									<button class="tt-btn-search" type="submit"></button>
									<button class="tt-btn-close icon-g-80"></button>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="col tt-cart">
					<a class="btn-toggle is-popup" href="#">
						<i class="icon-cart tt-cart"></i>
					</a>
					<div class="tt-dropdown-menu">
						<h6 class="tt-dropdown-title">
							<a href="#" class="tt-btn-close icon-close"></a>
							Products in Cart
						</h6>
						<div class="tt-search-results">
							<ul>
								<li>
						            <a href="inventory-item.html">
						            	<div class="thumbnail"><img src="images/product/product_img_05.jpg" alt=""></div>
						            	<div class="tt-description">
						            		<div class="tt-title">Bosch 3330 Premium FILTECH Oil </div>
						            		<div class="tt-price">
												$5.23
											</div>
						            	</div>
						            </a>
						            <span class="tt-close-item icon-close"></span>
						        </li>
						        <li>
						            <a href="inventory-item.html">
						            	<div class="thumbnail"><img src="images/product/product_img_08.jpg" alt=""></div>
						            	<div class="tt-description">
						            		<div class="tt-title">Autolite XP5325 Iridium XP Spark Plug, Pack of 4</div>
						            		<div class="tt-price">
												$24.61
											</div>
						            	</div>
						            </a>
						            <span class="tt-close-item icon-close"></span>
						        </li>
							</ul>
						</div>
						<div class="tt-search-bottom">
							<div class="price-total">
								<label>Total:</label>
								<div class="tt-price">$29.84</div>
							</div>
							<a href="#" class="btn">CHECKOUT</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- panel-info -->
<div class="tt-panel-info">
		<div class="container">
			<div class="row no-gutters align-items-center">
				<div class="col-auto mr-auto">
					<ul class="tt-box-info">
						<li><i class="icon-149984"></i>3261 Anmoore Road, Brooklyn, NY 11230</li>
						<li><a href="#"><i class="icon-15874"></i><strong>Call Us:</strong> +01 123 456 78</a></li>
						<li><i class="icon-icon"></i>9:00 AM – 8:00 PM</li>
					</ul>
				</div>
				<div class="col-auto">
					<div class="tt-language">
						<div class="tt-skinSelect-02">
							<select class="tt-select">
								<option value="ENG">ENG</option>
								<option value="RUS">RUS</option>
							</select>
						</div>
					</div>
					<div class="tt-dropdown-obj tt-searcher">
						<a href="#" class="tt-dropdown-toggle">
							<i class="icon-musica-searcher"></i>
						</a>
						<div class="tt-dropdown-menu">
							<div class="container">
								<form>
									<div class="tt-row-search">
										<input type="text" class="tt-search-input" placeholder="Type your search request...">
										<button class="tt-btn-search" type="submit"></button>
										<button class="tt-btn-close icon-g-80"></button>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="tt-dropdown-obj tt-account">
						<a href="#" class="tt-dropdown-toggle">
							<i class="icon-user"></i>
						</a>
						<div class="tt-dropdown-menu">
							<div class="tt-row-close">
								<a href="#" class="tt-btn-close icon-close"></a>
							</div>
							<ul>
							    <li><a href="#">Account</a></li>
							    <li><a href="#">Check Out</a></li>
							    <li><a href="#">Sign In</a></li>
							    <li><a href="#">Sign Out</a></li>
							    <li><a href="#">Register</a></li>
							</ul>
						</div>
					</div>
					<div class="tt-dropdown-obj tt-compare compare-toggle">
						<a href="#" class="tt-dropdown-toggle">
							<i class="icon-compare"></i>
						</a>
					</div>
					<div class="tt-dropdown-obj tt-cart">
						<a href="#" class="tt-dropdown-toggle">
							<i class="icon-cart"></i>
						</a>
						<div class="tt-dropdown-menu">
							<h6 class="tt-dropdown-title">
								<a href="#" class="tt-btn-close icon-close"></a>
								Products in Cart
							</h6>
							<div class="tt-search-results">
								<ul>
									<li>
							            <a href="inventory-item.html">
							            	<div class="thumbnail"><img src="images/product/product_img_05.jpg" alt=""></div>
							            	<div class="tt-description">
							            		<div class="tt-title">Bosch 3330 Premium FILTECH Oil </div>
							            		<div class="tt-price">
													$5.23
												</div>
							            	</div>
							            </a>
							            <span class="tt-close-item icon-close"></span>
							        </li>
							        <li>
							            <a href="inventory-item.html">
							            	<div class="thumbnail"><img src="images/product/product_img_08.jpg" alt=""></div>
							            	<div class="tt-description">
							            		<div class="tt-title">Autolite XP5325 Iridium XP Spark Plug, Pack of 4</div>
							            		<div class="tt-price">
													$24.61
												</div>
							            	</div>
							            </a>
							            <span class="tt-close-item icon-close"></span>
							        </li>
								</ul>
							</div>
							<div class="tt-search-bottom">
								<div class="price-total">
									<label>Total:</label>
									<div class="tt-price">$29.84</div>
								</div>
								<a href="#" class="btn">CHECKOUT</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- header-holder -->
	<div class="header-holder">
		<div class="container">
			<div class="row">
				<!--logo-->
				<div class="col-logo">
					<a class="tt-logo" href="index.html">
						<img class="tt-logo-light svg-img" src="images/logo.svg" alt="">
						<img class="tt-logo-dark svg-img" src="images/logo-dark.svg" alt="">
					</a>
				</div>
				<!--desctope-menu-->
				<div class="col-menu col-auto mr-auto ">
					<div class="tt-desctop-menu" id="tt-desctop-menu">
						<nav>
							<ul>
								<li>
									<a href="index.html">HOME</a>
									<ul>
										<li><a href="index-moto.html">Moto Leader</a></li>
										<li><a href="index-yacht.html">Yacht Leader</a></li>
									</ul>
								</li>
								<li class="is-subMenu">
									<a href="about-us.html">ABOUT US</a>
									<ul>
										<li><a href="about-us-testimonials.html">TESTIMONIALS</a></li>
									</ul>
								</li>
								<li>
									<a href="services.html">SERVICES</a>
									<ul>
										<li><a href="services-item.html">Pre-Sale Preparation</a></li>
									</ul>
								</li>
								<li class="is-subMenu">
									<a href="inventory.html">INVENTORY</a>
									<ul>
										<li><a href="inventory.html">With Left Sidebar</a></li>
										<li><a href="inventory-no-sidebar.html">No sidebar</a></li>
										<li><a href="inventory-item.html">Single product</a></li>
										<li><a href="inventory-item02.html">Single product 02</a></li>
									</ul>
								</li>
								<li class="is-subMenu">
									<a href="blog-right-column.html">BLOG</a>
									<ul>
										<li><a href="blog-right-column.html">With Right Sidebar</a></li>
										<li><a href="blog-masonry-col-3.html">Three Colums</a></li>
										<li><a href="blog-single-post.html">Single Post</a></li>
									</ul>
								</li>
								<li><a href="shop.html">SHOP</a></li>
								<li><a href="faq.html">FAQ</a></li>
								<li><a href="contact.html">CONTACTS</a></li>
							</ul>
						</nav>
					</div>
				</div>
				<!--btn toggle modal-->
				<div class="col-btn-toggle-modal col-auto">
					<a class="btn btn-toggle-modal" href="#"  data-toggle="modal" data-target="#modalAddYourItem"><i class="icon-addcar"></i><span class="	tt-text">ADD YOUR ITEM</span>
					</a>
				</div>
				<!--btn toggle mobile menu-->
				<div class="col-menu-toggle col-auto">
					<a href="#" class="tt-menu-toggle icon-menu"></a>
				</div>
			</div>
		</div>
	</div>
	<!-- stuck nav -->
	<div id="tt-stuck">
		<div class="container">
			<div class="tt-stuck-row">

			</div>
		</div>
	</div>
</header>
<div class="tt-breadcrumb">
	<div class="container">
		<ul>
			<li><a href="index.html">home</a></li>
			<li>Blog Posts</li>
		</ul>
	</div>
</div>
<div id="tt-pageContent">
	<div class="container-indent-04">
		<div class="container">
			<div class="tt-block-title tt-sub-pages">
				<h1 class="tt-title">Blog Posts</h1>
				<div class="tt-description">Read our latest blog posts</div>
			</div>
			<div class="row">
				<div class="col-sm-12 col-md-8 col-lg-9 blog-center-right">
					<div class="tt-listing-post">
						<div class="tt-post">
							<div class="tt-post-img">
								<a href="blog-single-post.html"><img src="images/blog/blog_img_01.jpg" alt=""></a>
							</div>
							<div class="tt-post-content">
								<div class="tt-meta">
									<div class="tt-time">
										<span>16</span>
										Apr
									</div>
									<div class="tt-autor">
										Written by <span>Admin</span>
									</div>
								</div>
								<h2 class="tt-title"><a href="blog-single-post.html">5 Important CRM Trends That Will Rev Up Business</a></h2>
								<div class="tt-description">
									CRM trends come and go in the automotive industry, but these five are sure to improve your bottom line – and that’s a trend we can all appreciate.
								</div>
								<div class="tt-btn">
									<a href="blog-single-post.html" class="tt-link">read more</a>
								</div>
							</div>
						</div>
						<div class="tt-post">
							<div class="tt-post-img">
								<div class="embed-responsive embed-responsive-16by9">
									<iframe class="embed-responsive-item" src="http://www.youtube.com/embed/bQz2Er3K8t8"  allowfullscreen></iframe>
								</div>
							</div>
							<div class="tt-post-content">
								<div class="tt-meta">
									<div class="tt-time">
										<span>25</span>
										Apr
									</div>
									<div class="tt-autor">
										Written by <span>Admin</span>
									</div>
								</div>
								<h2 class="tt-title"><a href="blog-single-post.html">7 of the Best Car Salesman Tips for New Hires</a></h2>
								<div class="tt-description">
									These car salesman tips are just what you need to help train new hires. It doesn’t matter who you employ; both experienced and amateur salespeople need training, and it’s your job to give them car salesman tips that will help them succeed at your dealership.
								</div>
								<div class="tt-btn">
									<a href="blog-single-post.html" class="tt-link">read more</a>
								</div>
							</div>
						</div>
						<div class="tt-post">
							<div class="tt-post-content">
								<div class="tt-meta">
									<div class="tt-time">
										<span>28</span>
										Apr
									</div>
									<div class="tt-autor">
										Written by <span>Admin</span>
									</div>
								</div>
								<h2 class="tt-title"><a href="#">Prepping for the Walking Dead? Prep for the Retailpocalypse Instead!</a></h2>
								<div class="tt-description">
									It doesn’t matter who you employ; both experienced and amateur salespeople need training, and it’s your job to give them car salesman tips that will help them succeed at your dealership.
									<blockquote class="tt-blockquote">
										The automotive industry is undergoing a dramatic transformation. Even longtime automotive executives like Bob Lutz think dealerships are ultimately doomed. And auto retail isn’t alone. Retail as a whole is in the midst of a crisis, with brands like Toys ‘R’ Us, American Apparel, and Claire’s declaring bankruptcy. These days, it seems we’re all attached at the hip to our smartphones. We rely on them for just about everything — shopping, reading, communicating, working and being entertained. Every driver should important to do some research before making any purchases. Understanding Auto…
									</blockquote>
								</div>
								<div class="tt-btn">
									<a href="blog-single-post.html" class="tt-link">read more</a>
								</div>
							</div>
						</div>
						<div class="tt-post">
							<div class="tt-post-img">
								<div class="tt-slick-slider tt-slick-nav01" data-slick='{"slidesToShow": 1, "slidesToScroll": 1, "autoplay": true,}'>
									<div><a href="blog-single-post.html"><img src="images/blog/blog_img_03.jpg" alt=""></a></div>
									<div><a href="blog-single-post.html"><img src="images/blog/blog_img_04.jpg" alt=""></a></div>
									<div><a href="blog-single-post.html"><img src="images/blog/blog_img_05.jpg" alt=""></a></div>
								</div>
							</div>
							<div class="tt-post-content">
								<div class="tt-meta">
									<div class="tt-time">
										<span>29</span>
										Apr
									</div>
									<div class="tt-autor">
										Written by <span>Admin</span>
									</div>
								</div>
								<h2 class="tt-title"><a href="blog-single-post.html">How to Make a Vehicle Inventory Management Checklist</a></h2>
								<div class="tt-description">
									A vehicle inventory management checklist will help you create flawless listings and stand out from the thousands of other dealerships online.
								</div>
								<div class="tt-btn">
									<a href="blog-single-post.html" class="tt-link">read more</a>
								</div>
							</div>
						</div>
						<div class="tt-post">
							<div class="tt-post-img">
								<div class="tt-post-music">
									<iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/139636914&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
								</div>
							</div>
							<div class="tt-post-content">
								<div class="tt-meta">
									<div class="tt-time">
										<span>30</span>
										Apr
									</div>
									<div class="tt-autor">
										Written by <span>Admin</span>
									</div>
								</div>
								<h2 class="tt-title"><a href="blog-single-post.html">7 of the Best Car Salesman Tips for New Hires</a></h2>
								<div class="tt-description">
									Even as the auto sales industry works to reduce dealership paperwork procedures, it can still feel like you spend a small fortune on paper and ink. Thankfully, there’s a simple way to reduce paper and cut costs – even with changing compliance guidelines and new forms to send home with customers.
								</div>
								<div class="tt-btn">
									<a href="blog-single-post.html" class="tt-link">read more</a>
								</div>
							</div>
						</div>
						<div class="tt-post">
							<div class="tt-post-img">
								<a class="tt-img-link" target="_blank" href="www.yourlinktosite.com">
									<span class="tt-wrapper-text"><i class="icon-3665"></i>www.yourlinktosite.com</span>
									<img src="images/blog/blog_img_06.jpg" alt="">
								</a>
							</div>
							<div class="tt-post-content">
								<div class="tt-meta">
									<div class="tt-time">
										<span>1</span>
										MAY
									</div>
									<div class="tt-autor">
										Written by <span>Admin</span>
									</div>
								</div>
								<h2 class="tt-title"><a href="blog-single-post.html">How to use a Dealer Swap to Increase Sales</a></h2>
								<div class="tt-description">
									It doesn’t matter who you employ; both experienced and amateur salespeople need training, and it’s your job to give them car salesman tips that will help them succeed at your dealership.
								</div>
								<div class="tt-btn">
									<a href="blog-single-post.html" class="tt-link">read more</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-12 col-md-4 col-lg-3 rightColumn">
					<div class="tt-block02-aside">
						<h3 class="tt-block02-title">Archive</h3>
						<div class="tt-block02-content">
							<div class="calendarDatepicker" data-date="12-09-2018" data-date-format="dd-mm-yyyy"></div>
						</div>
					</div>
					<div class="tt-block02-aside">
						<h3 class="tt-block02-title">Post Categories</h3>
						<div class="tt-block02-content">
							<ul class="tt-list-arrow">
								<li><a href="#">Audios (2)</a></li>
								<li><a href="#">Daily Inspiration (7)</a></li>
								<li><a href="#">Freelance (3)</a></li>
								<li><a href="#">Links (1)</a></li>
								<li><a href="#">Mobile (1)</a></li>
								<li><a href="#">Photography (5)</a></li>
								<li><a href="#">Quotes (1)</a></li>
								<li><a href="#">Resources (3)</a></li>
								<li><a href="#">Status (1)</a></li>
							</ul>
						</div>
					</div>
					<div class="tt-block02-aside">
						<h3 class="tt-block02-title">Popular Tags</h3>
						<div class="tt-block02-content">
							<ul class="tt-list-box">
								<li><a href="#">car dealership</a></li>
								<li><a href="#">used cars</a></li>
								<li><a href="#">new cars</a></li>
								<li><a href="#">automobile</a></li>
								<li><a href="#">sales</a></li>
								<li><a href="#">car finance</a></li>
								<li><a href="#">trade-in service</a></li>
								<li><a href="#">test drive</a></li>
								<li><a href="#">pre-sale preparation</a></li>
							</ul>
						</div>
					</div>
					<div class="tt-block02-aside">
						<h3 class="tt-block02-title">Featured Posts</h3>
						<div class="tt-block02-content">
							<div class="tt-post">
								<div class="tt-post-img">
									<a href="blog-single-post.html"><img src="images/blog/blog_img_07.jpg" alt=""></a>
								</div>
								<div class="tt-post-content">
									<div class="tt-meta">
										<div class="tt-time">
											<span>16</span>
											Apr
										</div>
										<div class="tt-autor">
											Written by <span>Admin</span>
										</div>
									</div>
									<h2 class="tt-title"><a href="blog-single-post.html">5 of the Most Useful Auto Industry Trends for an  Efficient Dealership</a></h2>
									<div class="tt-description">
										5 of the Most Useful Auto Industry Trends for an Efficient Dealership
									</div>
									<div class="tt-btn">
										<a href="#" class="tt-link">read more</a>
									</div>
								</div>
							</div>
							<div class="tt-post">
								<div class="tt-post-img">
									<a href="blog-single-post.html"><img src="images/blog/blog_img_08.jpg" alt=""></a>
								</div>
								<div class="tt-post-content">
									<div class="tt-meta">
										<div class="tt-time">
											<span>18</span>
											Apr
										</div>
										<div class="tt-autor">
											Written by <span>Admin</span>
										</div>
									</div>
									<h2 class="tt-title"><a href="blog-single-post.html">7 of the Best Car Salesman Tips for New Hires</a></h2>
									<div class="tt-description">
										CRM trends come and go in the automotive industry, but these five are sure to improve your bottom line – and that’s a trend we can all appreciate.
									</div>
									<div class="tt-btn">
										<a href="#" class="tt-link">read more</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-indent container-indent-03 tt-mobile-hidden">
		<div class="tt-map">
			<a href="#" class="tt-btn-toggle"></a>
			<div class="tt-box-map">
				<div id="googleMapFooter" class="google-map"></div>
			</div>
		</div>
	</div>
</div>
<footer id="tt-footer">
	<div class="tt-footer-layout">
		<div class="container">
			<div class="row justify-content-center">
				<div id="tt-footer-menu">

				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col col-auto">
					<a class="tt-logo" href="index.html">
						<img class="tt-logo-dark svg-img" src="images/logo.svg" alt="">
					</a>
				</div>
			</div>
			<div class="tt-row-custom">
				<div class="tt-col">
					<ul class="tt-list-info">
						<li>
							<i class="icon-149984"></i>
							3261 Anmoore Road, Brooklyn, NY 11230
						</li>
						<li>
							<a href="#">
								<i class="icon-15874"></i>
								+01 123 456 78
							</a>
						</li>
						<li>
							<a href="mailto:info@youremal.com">
								<i class="icon-mail"></i>
								info@youremal.com
							</a>
						</li>
					</ul>
				</div>
				<div class="tt-col">
					<div class="tt-box-info">
						<div class="tt-item">
							<h6 class="tt-ttile"><i class="icon-icon"></i>Sales Department</h6>
							<ul>
								<li>Mon-Sat : 8:00am - 5:00pm</li>
								<li>Sunday is closed</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="tt-col">
					<div class="tt-box-info">
						<div class="tt-item">
							<h6 class="tt-ttile"><i class="icon-icon"></i>Service Department</h6>
							<ul>
								<li>Mon-Sat : 8:00am - 5:00pm</li>
								<li>Sunday is closed</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="tt-col">
					<div class="tt-box-info">
						<div class="tt-item">
							<h6 class="tt-ttile"><i class="icon-mail1"></i>NEWSLETTER</h6>
							<form id="newsletterform" method="post" novalidate="novalidate" action="#">
								<div class="form-group">
									<input type="text" name="email" class="form-control" placeholder="enter your email to subscribe">
								</div>
								<button type="submit" class="tt-btn">SUBSCRIBE</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col col-auto">
					<ul class="tt-social-icon">
						<li><a href="https://www.facebook.com/" target="_blank" class="icon-226234"></a></li>
						<li><a href="https://twitter.com"  target="_blank" class="icon-8800"></a></li>
						<li><a href="https://www.google.com/" target="_blank" class="icon-733613"></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="tt-footer-copyright">
		<div class="container">
			<span>&copy; Copyright 2018 Car Leader</span> <a href="#">PRIVACY POLICY</a>
		</div>
	</div>
</footer>
<a href="#" id="ttBackToTop" class="tt-back-to-top">BACK TO TOP</a>
<!-- modal (AddToCartProduct) -->
<div class="modal fade" id="modalAddYourItem" tabindex="-1" role="dialog" aria-label="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content ">
			<div class="modal-body modal-layout-dafault">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="icon-close"></span></button>
				<h5 class="modal-title">Add your Item</h5>
				<p class="tt-default-color02">
					Trading in your current car can help serve as a springboard into your new one. One of our team members will be in touch with a quote for your trade in right away.
				</p>
				<form class="tt-form-default02">
					<div class="form-group">
						<input type="text" name="name" class="form-control" placeholder="Your name*">
					</div>
					<div class="row">
						<div class="col-12 col-sm-6">
							<div class="form-group">
								<input type="email" name="name" class="form-control" placeholder="E-mail*">
							</div>
						</div>
						<div class="col-12 col-sm-6">
							<div class="form-group">
								<input type="text" name="name" class="form-control" placeholder="Phone #">
							</div>
						</div>
					</div>
					<h6 class="tt-title">Vehicle Info</h6>
					<div class="form-group tt-row-select tt-skinSelect-01">
						<select class="tt-select">
							<option value="YEAR" disabled selected>YEAR</option>
							<option value="2014">2014</option>
							<option value="2015">2015</option>
							<option value="2016">2016</option>
							<option value="2017">2017</option>
							<option value="2018">2018</option>
						</select>
						<select class="tt-select">
							<option value="SELECT A MAKE" disabled selected>SELECT A MAKE</option>
							<option value="KIA">KIA</option>
							<option value="CHEVROLET">CHEVROLET</option>
							<option value="VOLKSWAGEN">VOLKSWAGEN</option>
							<option value="AUDI">AUDI</option>
							<option value="NISSAN">NISSAN</option>
							<option value="LEXUS">LEXUS</option>
							<option value="SUBARU">SUBARU</option>
							<option value="SUZUKI">SUZUKI</option>
						</select>
						<select class="tt-select">
							<option value="SELECT A MODEL" disabled selected>SELECT A MODEL</option>
							<option value="SEDAN">SEDAN</option>
							<option value="HATCHBACK">HATCHBACK</option>
							<option value="SPORT CARS">SPORT CARS</option>
							<option value="SUV">SUV</option>
							<option value="Pickups">PICKUPS</option>
							<option value="CONVERTIBLE">CONVERTIBLE</option>
							<option value="COUPE">COUPE</option>
							<option value="MINIVAN">MINIVAN</option>
						</select>
						<select class="tt-select">
							<option value="PRICE" disabled selected>MILEAGE</option>
							<option value="10000 miles">10000 miles</option>
							<option value="50000 miles">50000 miles</option>
							<option value="100000 miles">100000 miles</option>
						</select>
					</div>
					<div class="tt-row-radio">
						<div class="tt-title">Exterior Condition*</div>
						<div>
							<label class="radio">
								<input id="radio11" checked="" type="radio" name="radio1">
								<span class="outer"><span class="inner"></span></span>CLEAN
							</label>
						</div>
						<div>
							<label class="radio">
								<input id="radio12" type="radio" name="radio1">
								<span class="outer"><span class="inner"></span></span>AVERAG
							</label>
						</div>
						<div>
							<label class="radio">
								<input id="radio13" type="radio" name="radio1">
								<span class="outer"><span class="inner"></span></span>ROUGH
							</label>
						</div>
					</div>
					<div class="tt-row-radio">
						<div class="tt-title">Interior Condition*</div>
						<div>
							<label class="radio">
								<input id="radio21" checked="" type="radio" name="radio2">
								<span class="outer"><span class="inner"></span></span>CLEAN
							</label>
						</div>
						<div>
							<label class="radio">
								<input id="radio22" type="radio" name="radio2">
								<span class="outer"><span class="inner"></span></span>AVERAG
							</label>
						</div>
						<div>
							<label class="radio">
								<input id="radio23" type="radio" name="radio2">
								<span class="outer"><span class="inner"></span></span>ROUGH
							</label>
						</div>
					</div>
					<div class="tt-row-radio">
						<div class="tt-title">Been in Accident?*</div>
						<div>
							<label class="radio">
								<input id="radio31" checked="" type="radio" name="radio3">
								<span class="outer"><span class="inner"></span></span>NO
							</label>
						</div>
						<div>
							<label class="radio">
								<input id="radio32" type="radio" name="radio3">
								<span class="outer"><span class="inner"></span></span>YES
							</label>
						</div>
					</div>
					<h6 class="tt-title">Upload your car Photos</h6>
					<div class="input-group tt-input-file">
		                <label class="input-group-btn">
		                    <span class="tt-btn-icon">
		                        choose file... <input type="file" style="display: none;" multiple>
		                    </span>
		                </label>
		                <input type="text" readonly>
		            </div>
					<ul class="list-form-column">
						<li>
							<div class="checkbox-group">
								<input type="checkbox" id="checkBox11" name="checkbox" checked>
								<label for="checkBox11">
								<span class="check"></span>
								<span class="box"></span>
								I AGREE TO RECEIVE EMAILS FROM CAR LEADER
								</label>
							</div>
						</li>
					</ul>
					<a href="#" class="btn">MAKE AN OFFER</a>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- compareSlide -->
<div id="compareSlide" class="layout-slide">
	<div class="slide-content">
		<div class="slide-title">
			<h6 class="title">Compare Vehicles</h6>
				<a class="btn-close-slide icon-close"></a>
			</div>
			<div class="tt-wrapper-col">
				<div class="col-value">
				<ul>
					<li>Price:</li>
					<li>Make</li>
					<li>Model</li>
					<li>MILEAGE:</li>
					<li>FUEL TYPE:</li>
					<li>YEAR:</li>
					<li>TRANSMission:</li>
					<li>Drive Type:</li>
					<li>Color:</li>
					<li>Int. Color:</li>
					<li>VIN:</li>
					<li>Engine:</li>
					<li>Stock number:</li>
					<li>Features &amp; Options</li>
				</ul>
			</div>
			<div class="col-item">
				<a href="#" class="item-close"><i class="icon-close"></i></a>
				<div class="img-obj"><img src="images/product_02/product_02_img_02.jpg" alt=""></div>
				<ul>
					<li class="value-item value-select">$99,625</li>
					<li class="value-item">Lehus</li>
					<li class="value-item">LX 570</li>
					<li class="value-item">0 miles</li>
					<li class="value-item">Gas</li>
					<li class="value-item">2018</li>
					<li class="value-item">Automatic</li>
					<li class="value-item">Front Wheel Drive</li>
					<li class="value-item">Jet Black</li>
					<li class="value-item">Cabernet Premium Leather</li>
					<li class="value-item">JTJHY7AX6H4250229</li>
					<li class="value-item">V6 EcoBoost TT</li>
					<li class="value-item">252832</li>
					<li class="value-item value-multy">
						2-Stage Unlocking Doors,
						ABS: 4-Wheel,Active Head
						Restraints: Dual Front,
						Air Conditioning, Air
						Filtration, Airbag
						Deactivation: Occupant
						Sensing Passenger,
						Ambient Lighting, Antenna
						Type: Diversity, Anti-Theft
						System:2-Stage Unlocking Doors,
						ABS: 4-Wheel,Active Head
						2-Stage Unlocking Doors,
						ABS: 4-Wheel,Active Head
					</li>
				</ul>
			</div>
			<div class="col-item">
				<a href="#" class="item-close"><i class="icon-close"></i></a>
				<div class="img-obj"><img src="images/product_02/product_02_img_03.jpg" alt=""></div>
				<ul>
					<li class="value-item value-select">$48,430</li>
					<li class="value-item">Volve</li>
					<li class="value-item">XC60</li>
					<li class="value-item">0 miles</li>
					<li class="value-item">Gas</li>
					<li class="value-item">2018</li>
					<li class="value-item">Automatic</li>
					<li class="value-item">Front Wheel Drive</li>
					<li class="value-item">Jet Black</li>
					<li class="value-item">Cabernet Premium Leather</li>
					<li class="value-item">JTJHY7AX6H4250229</li>
					<li class="value-item">V6 EcoBoost TT</li>
					<li class="value-item">215838</li>
					<li class="value-item value-multy">
						2-Stage Unlocking Doors,
						ABS: 4-Wheel,Active Head
						Restraints: Dual Front,
						Air Conditioning, Air
						Filtration, Airbag
						Deactivation: Occupant
						Sensing Passenger,
						Ambient Lighting, Antenna
						Type: Diversity, Anti-Theft
						System:
					</li>
				</ul>
			</div>
			<div class="col-item">
				<a href="#" class="item-close"><i class="icon-close"></i></a>
				<div class="img-obj"><img src="images/product_02/product_02_img_06.jpg" alt=""></div>
				<ul>
					<li class="value-item value-select">$27,850</li>
					<li class="value-item">Nesen</li>
					<li class="value-item">Almera</li>
					<li class="value-item">80,000 miles</li>
					<li class="value-item">Gas</li>
					<li class="value-item">2017</li>
					<li class="value-item">Automatic</li>
					<li class="value-item">Front Wheel Drive</li>
					<li class="value-item">Jet Black</li>
					<li class="value-item">Cabernet Premium Leather</li>
					<li class="value-item">JTJHY7AX6H4250229</li>
					<li class="value-item">V6 EcoBoost TT</li>
					<li class="value-item">112532</li>
					<li class="value-item value-multy">
						2-Stage Unlocking Doors,
						ABS: 4-Wheel,Active Head
						Restraints: Dual Front,
						Air Conditioning, Air
						Filtration, Airbag
						Deactivation: Occupant
						Sensing Passenger,
						Ambient Lighting, Antenna
						Type: Diversity, Anti-Theft
						System:
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<script src="external/jquery/jquery.min.js"></script>
<script src="external/bootstrap/js/bootstrap.min.js"></script>
<script src="external/slick/slick.min.js"></script>
<script src="external/panelmenu/panelmenu.js"></script>
<script src="external/sumoselect/jquery.sumoselect.min.js"></script>
<script src="external/bootstrap-datepicker/bootstrap-datepicker.js"></script>
<script src="external/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="js/main.js"></script>
<!-- form validation and sending to mail -->
<script src="external/form/jquery.form.js"></script>
<script src="external/form/jquery.validate.min.js"></script>
<script src="external/form/jquery.form-init.js"></script>
</body>
</html>