{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>CarLeader - Responsive HTML5 Template</title>
	<meta name="keywords" content="HTML5 Template">
	<meta name="description" content="CarLeader - Responsive HTML5 Template">
	<link rel="shortcut icon" href="favicon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-ffit=no">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700" rel="stylesheet">
</head>
<body>
{% block content %}

{% endblock %}
    <script src="{% static 'external/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'external/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'external/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'external/slick/slick.min.js' %}"></script>
    <script src="{% static 'external/panelmenu/panelmenu.js' %}"></script>
    <script src="{% static 'external/isotope/imagesloaded.js' %}"></script>
    <script src="{% static 'external/isotope/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'external/sumoselect/jquery.sumoselect.min.js' %}"></script>
    <script src="{% static 'external/countdown/jquery.countto.js' %}"></script>
    <script src="{% static 'external/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'https://maps.googleapis.com/maps/api/js?sensor=false' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <!-- form validation and sending to mail -->
    <script src="{% static 'external/form/jquery.form.js' %}"></script>
    <script src="{% static 'external/form/jquery.validate.min.js' %}"></script>
    <script src="{% static 'external/form/jquery.form-init.js' %}"></script>
    </body>
    </html>